//menu button 
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut();

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: set-text-color($primary-color);
    @include easeOut();

  }

  //rotate menu button into x lol 

  &.close {
    transform: rotate(180deg);

    .btn-line {

      //line one - rotate 
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);

      }

      //line two 
      &:nth-child(2) {
        opacity: 0;
      }

      //line three - to rotate
      &:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -5px);

      }
    }
  }
}

//Menu Overlay
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.95;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  &-branding,
  &-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }

  //styling the nav item
  &-nav {
    margin: 0;
    padding: 0;
    background: darken($primary-color, 5);
    list-style: none;
    transform: translate3d(0, -100%, 0);
    @include easeOut;

    &.show {
      // want to slide the nav items from the top
      transform: translate3d(0, 0, 0);
    }
  }

  //styling the branding
  &-branding {
    background: $primary-color;
    transform: translate3d(0, 100%, 0);
    @include easeOut;

    &.show {
      // want to slide the nav items from the bottom
      transform: translate3d(0, 0, 0);
    }

    .portrait {
      width: 250px;
      height: 250px;
      background: url('../img/funmi.jpg');
      border-radius: 50%;
      border: solid 3px $secondary-color;

    }
  }

  .nav-item {
    transform: translate3d(600px, 0, 0);
    @include easeOut;

    &.show {
      // want to slide the nav items from the right
      transform: translate3d(0, 0, 0);
    }

    &.current>a {
      color: $secondary-color;
    }
  }

  .nav-link {
    display: inline-block;
    position: relative;
    font-size: 25px;
    font-weight: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 0;
    color: set-text-color($primary-color);
    @include easeOut;

    &:hover {
      color: $secondary-color;
    }

  }
}

//delay each nav items slides using sass for loop by 0.1s

@for $var from 1 to 3 {
  .nav-item:nth-child(#{$var}) {
    transition-delay: $var * 0.1s;
  }
}